.box-round {
    border-radius: 3px;
}

i {
    cursor: pointer;
}

.fa {
    font-size: 20px;
}
.alert-info {
    color: #2bff00;
    background-color: #000c0e;
    border-color: #000c0e;
}
.text-danger {
    color: #ff0000 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #00ff0d;
    background-color: #000c0e;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success {
    color: rgb(0, 0, 0);
    background-color:#00ff0d;
    border-color: #00ff0d;
}
.btn-danger {
    color:  rgb(0, 0, 0);
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-dark {
    color:#00ff0d;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
